<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <!-- Importing icon file -->
  <link rel="shortcut icon" type="image/x-icon" href='{{ url_for('static', filename='/images/favicon.ico') }}' />
  <!-- Base.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

  <title>{% block title %}

  {% endblock title %}</title>
</head>

<body >
  <!-- Navbar here -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <i class="fab fa-youtube"></i> YT Downloader</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% block home_active %}
        
          {% endblock home_active %}" href="{{ url_for('home_page') }}"> <i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block instructions_active %}
    
          {% endblock instructions_active %}" href="{{ url_for('instructions_page') }}"><i class="fas fa-info-circle"></i> Instructions <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-plus"></i> More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('about_us_page') }}"> <i class="fas fa-info-circle"></i> About Us</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#><i class="fab fa-github"></i> Github Repository</a>
          </div>
        </li>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% block settings_active %}
    
          {% endblock settings_active %}" href="{{ url_for('settings_page') }}"> <i class="fas fa-cog"></i> Settings</a>
        </li>
      </ul>
  </div>
  </nav>
  <!-- Future Content here -->

  {% block content %}
    
  {% endblock content %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <!-- importing icons -->
  <script src="{{ url_for('static', filename='js/fontAwesome.js')}}" crossorigin="anonymous"></script>
</body>
<style>
  body {
    background-color: #212121;
  }
</style>

</html>